In [ ]:
# This is my downloaded json file newproj-280017-b96d999edf46.json
#Replace this .json file with yours

In [21]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

credentials = ServiceAccountCredentials.from_json_keyfile_name(
         'newproj-280017-b96d999edf46.json', scope) # Your json file here

In [22]:
gc = gspread.authorize(credentials)    #use gspread library to extract spredsheet
gc

In [31]:
# spreadsheet 
wks = gc.open("Retail_data").sheet1    #Mention the required sheet
data = wks.get_all_values()            # The type of data is in List fromat

In [30]:
headers = data.pop(0)                    # pop the headers from the list
df = pd.DataFrame(data, columns=headers) #Read data into pandas dataframe
df.head()

,MAJ_CAT_CODE,MAJ_CAT_NAME,CAT_CODE,CAT_NAME,SUB_CAT_CODE,SUB_CAT_NAME,VENDOR_CODE,BRAND_CODE,BRAND_NAME,VENDOR_NAME,MANUF_CODE,MANUF_NAME,SKU_CODE,SKU_NAME,Retail_Price,Offer_Price
0,6,TOILETRIES,36,SANITARY,3601,SANITARY PADS,H00402,10198,KOTEX,HINDUSTAN LEVER LIMITED,112,HLL -PERSONAL PRODUCTS,20325,KOTEX ACTIVE 8'S,21.66,28
1,6,TOILETRIES,33,SKIN CARE,3302,CREAMS & LOTIONS,H00402,10363,VASELINE,HINDUSTAN LEVER LIMITED,112,HLL -PERSONAL PRODUCTS,22006,VASELINE PETROLEUM WHITE JELLY 50GM,19.39,24
2,6,TOILETRIES,33,SKIN CARE,3304,TALCS & POWDERS,H00402,10281,PONDS,HINDUSTAN LEVER LIMITED,112,HLL -PERSONAL PRODUCTS,22021,PONDS DREAM FLOWER MAGIC 50GMS,13.7,18
3,6,TOILETRIES,33,SKIN CARE,3302,CREAMS & LOTIONS,H00402,10281,PONDS,HINDUSTAN LEVER LIMITED,112,HLL -PERSONAL PRODUCTS,22046,PONDS COLD CREAM 100GM,50.95,63
4,6,TOILETRIES,33,SKIN CARE,3301,SOAPS & SCRUBS,H00402,10276,PEARS,HINDUSTAN LEVER LIMITED,112,HLL -PERSONAL PRODUCTS,22056,PEARS 125G,24.55,32